BETTER_AUTH_SECRET=NPO2PRMDZygjgPdMBLmNPQNuY5WBPrea
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
ADMIN_EMAIL=tarik@lunatik.ba
ADMIN_PASSWORD=12345678
ADMIN_NAME=Tarik
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USERNAME="root"
MYSQL_PASSWORD=""
MYSQL_URL="mysql://root:@localhost:3306/lunatikdrizzle"
MYSQL_DATABASE=lunatikdrizzle
S3_HOST="s3.nl-ams.scw.cloud"
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION="nl-ams"
S3_BUCKET_NAME="project-l1"